/* Import Google Fonts for the 'Black Ops One' font */
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

/* Styling for the game canvas */
canvas.game-canvas {
    background-image: url("../images/canvas-background-image-3.webp");
    margin: 0 auto;
}

/* Reset default styles for the body */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    font-family: "Black Ops One";
    overflow: auto; /* Ensure scrolling is enabled */
}

/* Define a class for elements with a moving background
Removed the animation to due lagging error */
.moving-background {
    background-image: url("../images/canvas-background-image-3.webp");
    background-size: cover;
    background-position: center;
}

/* Define the animation for moving background */

/* Reset default styles for common HTML elements */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

h3 {
    color: coral;
}

nav ul {
    list-style: none;
    padding: 0;
  }
  nav ul li {
    margin-right: 1rem;
  }
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  nav ul li a:hover {
    color: #007BFF;
  }

/* Style for the page header */
.page-header {
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 10px 10px #b0dfff;
    text-align: center;
    background-color: #333;
    padding: 20px;
    width: auto;
}

/* Style for the logo */
.logo {
    font-weight: bold;
    text-align: center;
}

/* Apply 'Black Ops One' font to headings and paragraphs */
h1,
p {
    font-family: "Black Ops One";
}

/* Styling for player stats */
div.player-stats {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
}

/* Styling for mission log */
div.mission-log {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    box-shadow: 2px 10px 10px #f03f46;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
}

/* Styling for various UI elements */
.startButton,
.pauseButton,
.endButton,
.playerName {
    border: solid 2px white;
    box-shadow: 0px 5px 10px seagreen;
    border-radius: 30px;
    width: auto;
    padding: 5px 15px;
    margin: 10px;
    display: inline-block;
    background-color: black;
    color: white;
}

/* Styling for player name input field */
input.player-name {
    border: solid 2px white;
    box-shadow: 0px 5px 10px seagreen;
    border-radius: 30px;
    width: fit-content;
    padding: 5px 15px;
    margin: 10px;
    display: inline-block;
    background-color: black;
    color: white;
    font-family: "Black Ops One";
}

/* Styling for health and score values */
.health-value,
.score-value {
    font-weight: bold;
    color: green;
}

/* Styling for instructions */
div.instructions {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 10px 10px #5f81ec;
    margin: 20px auto;
    text-align: center;
    font-family: "Black Ops One";
}

/* Styling for buttons */
button {
    border: solid 2px white;
    box-shadow: 0px 5px 10px seagreen;
    border-radius: 30px;
    width: fit-content;
    padding: 5px 15px;
    margin: 10px;
    display: inline-block;
    background-color: black;
    color: coral;
    font-family: "Black Ops One";
    /* Apply 'Black Ops One' font */
}

/* Change button color on hover */
button:hover {
    background-color: #2980b9;
}

/* Styling for the game canvas */
.game-canvas {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

/* Styling for fighter jet */
.fighter-jet {
    display: none;
}

/* Styling for enemy target */
.target-image {
    display: none;
}

/* Styling for player name display */
.player-name-display {
    display: none;
}

/* Styling for game controller buttons */
.game-controller {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.game-button {
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 16px;
    font-family: "Black Ops One";
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
}

/* Change game button color on hover */
.game-button:hover {
    background-color: #2574a9;
}

/* Styling for D-pad buttons */
.dpad-button {
    background-color: #3498db;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    font-family: "Black Ops One";
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

/* Change D-pad button color on hover */
.dpad-button:hover {
    background-color: #2574a9;
}

/* Make the canvas responsive */
.game-canvas {
    max-width: 100%;
    height: auto;
}

/* CSS adjustments for screens narrower than 320px */
@media (max-width: 320px) {
    /* Adjustments for smaller screens */

    .game-canvas {
        max-width: 100%;
        height: 310px;
    }

    div.player-stats,
    div.mission-log {
        padding: 10px;
        font-size: 10px;
    }
}

.game-controller {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 170px; /* Adjust as needed */
    height: 170px; /* Adjust as needed */
    margin-bottom: 10px;
}

.dpad-button {
    width: 50px;
    height: 50px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-button {
    grid-column: 2;
    grid-row: 1;
}

.left-button {
    grid-column: 1;
    grid-row: 2;
}

.center-button {
    grid-column: 2;
    grid-row: 2;
    background-color: #555; /* Different color for the center button */
    cursor: default; /* Makes it non-clickable */
}

.right-button {
    grid-column: 3;
    grid-row: 2;
}

.down-button {
    grid-column: 2;
    grid-row: 3;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    gap: 20px; /* Space between the D-pad and the shoot button */
}

.game-controller {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 170px; /* Adjust as needed */
    height: 170px; /* Adjust as needed */
    margin: auto;
}

.dpad-button {
    width: 50px;
    height: 50px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-button {
    grid-column: 2;
    grid-row: 1;
}

.left-button {
    grid-column: 1;
    grid-row: 2;
}

.center-button {
    grid-column: 2;
    grid-row: 2;
    background-color: #555; /* Different color for the center button */
    cursor: default; /* Makes it non-clickable */
}

.right-button {
    grid-column: 3;
    grid-row: 2;
}

.down-button {
    grid-column: 2;
    grid-row: 3;
}

.game-button {
    width: 100px;
    height: 50px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    display: flex;
    margin-left: 200px;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
}

/* Responsive design for small screens */
@media (max-width: 600px) {
    .game-controller {
        grid-template-columns: repeat(3, 30px);
        grid-template-rows: repeat(3, 30px);
        gap: 5px;
        width: 110px; /* Adjust as needed */
        height: 110px; /* Adjust as needed */
        margin-top: 5px;
    }

    .dpad-button {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .game-button {
        width: 70px;
        height: 50px;
        margin-left: 130px;
        margin-top: 70px;
        font-size: 14px;
    }
}

.row {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 150px;
    margin-top: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.game-canvas {
    display: none;
}

#loading-bar-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30px;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 5px;
    display: block;
    position: relative;
    margin-top: 15px;
}

#loading-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.3s;
}

canvas.game-canvas.moving-background {
    position: relative; /* To allow positioning of child elements */
}

div#player-hud {
    display: flex;
    justify-content: center;
    position: relative; /* Position relative to the canvas */
    bottom: 0; /* Align to the bottom of the canvas */
    left: 50%; /* Center horizontally */
    gap: 10px; /* Space between elements */
    transform: translateX(-50%); /* Center horizontally */
    background-color: rgba(0, 0, 0, 0.7); /* Optional: add background color for better visibility */
    padding: 10px; /* Optional: add some padding */
    border-radius: 5px; /* Optional: rounded corners */
    color: white; /* Ensure text is visible */
}

/* without this the game does not render, due to time contraint I was not able to fix this issue */
.instructions-button {
    display: none; /* Hide the button by default */
}

.game-container {
    margin-bottom: 20px;
}























