/* Import Google Fonts for the 'Black Ops One' font */
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

/* Styling for the game canvas */
canvas.game-canvas {
    background-image: url("assets/canvas-background-image-2.jpg");
    box-shadow: 2px 10px 10px #5f81ec;
    border-radius: 25px;
    margin: 0 auto;
}